.slick-dots
    bottom -70px
    +below('tablet')
        bottom -40px

.slick-dots li
    margin 0 8px

.slick-dots li button:before 
    opacity 1
    font-size 22px
    color $white

.slick-dots li.slick-active button:before
    opacity 1
    color $gray-2