extends ./templates/layout
block title
  title Gympass Test

block main

  main
    .hero
      .wrapper
        h1.title Plano Gympass
        ul.features
          li.item Plano mensal.
          li.item Utilize todas as academias com mensalidade igual ou menor do que o plano selecionado
          li.item A cada dia, escolha a academia que preferir e tenha uma rotina saudável.

    .section.wrapper#details
      h2.title Detalhes do plano

      p.description._text-center
        | Acesse milhares de academias pagando uma unica mensalidade. <br>
        | Voce pode utilizar a mesma academia ou academias diferentes <br>
        | todos os dias, basta que o valor da mensalidade seja igual ou menor <br>
        | do que o piano selecionado. <br>

      p.description._text-center
        | Por exemplo, com a mensalidade de R$ 199,90 voce pode frequentar <br>
        | a academia quando desejar. A unica limitacao é a utilizacao de uma <br>
        | Cinica academia por dia.


      .row
        .icon-content.col-sm-4
          img.icon(src="assets/images/map.png", alt="")
          h3.title Academias Incluídas
          p.description 
            | lnclui todas as academias cuja mensalidade <br>
            | for menor ou igual à que voce estiver <br>
            | pagando, em qualquer cidade do Brasil ou <br>
            | nos países onde Gympass estiver presente.

        .icon-content.col-sm-4
          img.icon(src="assets/images/modality.png", alt="")
          h3.title Modalidades Incluídas
          p.description 
            | lnclui todas as modalidades cuja mensalidade
            | for menor ou igual à que voce estiver
            | pagando. Você pode fazer Musculacao,
            | Pilates, Yoga, etc...

        .icon-content.col-sm-4
          img.icon(src="assets/images/payment.png", alt="")
          h3.title Forma de Pagamento
          p.description 
            | Adesão e pagamento exclusivamente pelo <br>
            | site, via cartão de credito.

    .section.-dark#modality
      h2.title Modalidades Disponíveis

      #modality-carousel

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!

        //- .box-modality
        //-   h3.title Natação 
        //-   p.description
        //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ut. Recusandae non harum, molestias neque veniam nobis dolor accusamus eius unde odit praesentium cum repellat molestiae. Dolorum, dignissimos animi quibusdam!