.box-modality
    background-color $white
    height 400px
    margin-right 20px   
    padding-top 60px
    padding-right 30px
    padding-left 30px
    box-sizing border-box
    text-align center
    &:last-child
        margin-right 0

    > .title 
        font-size 32px
        margin-top 0
        color: $gray-2