.Button
  font-family inherit
  padding 10px 35px
  margin-right 10px
  margin-bottom 20px
  text-decoration none
  border none
  transition all .4s ease
  display inline-block
  outline none 
  letter-spacing .1rem
  cursor pointer



.Button.Button--ghost
  background transparent
  color $white
  border 1px solid $white
  transition: all .6s cubic-bezier(0.63,-2, 0.3, 2) 1s
  &:hover
    padding 50px 70px
    background-color $black
    color lighten($black,65)
