.button
  padding 10px 35px
  margin-right 10px
  margin-bottom 20px
  text-decoration none
  border none
  display inline-block
  outline none 
  font-weight bold
  font-family $font__sans-stack
  font-size 18px
  letter-spacing .1rem
  cursor pointer
  color $gray-3

  &.-ghost
    background transparent
    color #848387
    border 1px solid #727176


  
