.checkbox-label
    display inline-block
    margin-right 20px

    +at('mobile')
        margin-bottom 15px

    > .input
        display none
        
    > .input + .label:before {
        border: 1px solid #333;
        content: "\00a0";
        display: inline-block;
        font: 16px/1em sans-serif;
        height: 16px;
        margin: 0 10px 0 0;
        padding: 0;
        vertical-align: top;
        width: 16px;
        background white
        border-radius 2px
    }

    > .input:checked + .label:before {
        background: #fff;
        color: #333;
        content: "\2714";
        text-align: center;
    }

    > .input:checked + .label:after {
        font-weight: bold;
    }

    > .label
        vertical-align middle