breakPoints = {
  xs:780,
  sm:781
}

.wrapper
  width 100%
  max-width: 1245px
  margin 0 auto 0 auto
  box-sizing border-box

  +above('mobile')
    padding 0 2em

  &.-modality
    max-width 1345px
    
    +above('mobile')
      padding 0

.row 
  lost-utility clearfix
  box-sizing border-box

for num in (1..12)
  for k, v in breakPoints
    if k == 'xs'
      +below(v px)
        .col-{k}-{num}
          lost-column num / 12

    if k == 'sm'
      +above(v px)
        .col-{k}-{num}
          lost-column num / 12
