.hero
    height 615px
    background: url('../images/imageTop.png') no-repeat center
    padding-top 100px
    box-sizing border-box

    .wrapper > .title
        margin-top 0
        margin-bottom 85px
        color $white

    .wrapper > .features 
        width 520px
        margin-left 25px

    .wrapper > .features > .item
        margin-bottom 10px
        font-size 25px
        line-height 1.2
        color $white