.section 
    padding 90px 0
    // outline: 1px solid red

    &.-dark
        background-color $gray-4

    > .title
        margin-bottom 50px
        font-size 35px
        color: $gray-2
        text-align center

    > .description
        font-size 18px