// Base Vars
$phi                    = 1.618
$base__font-size        = 16
$px                     = (1 / $base__font-size) * 1rem
$wrapper-width          = 1200px

// Color Vars
$dark = #040404
$white = #fff
$black = #000

$color__background-body = $dark
$color__font-light      = $white


// Font Vars
$font__sans-stack       = "Nunito", Helvetica, sans-serif;
$font__min              = 16*$px
$font__max              = 18*$px

// Paragraph Vars
$paragraph__color       = $color__font-light
$paragraph__family      = $font__sans-stack
$paragraph__maxw        = 829*$px // Not used

// Body Vars
$body__background-color = $color__background-body
$body__family           = $font__sans-stack
$body__lh               = 1.7
$body__size             = 16*$px
$body__color            = $white
$body__weight           = 400
$body__maxw             = 415px
$body__minw             = 416px


// Link Vars
$link__color            = $blue


// Htag Family
$htag_family            = $font__sans-stack
$htag_color             = $color__font-light
$htag_lineheight        = 1.313em
$htag_weight            = 300

/* Using Typographic */
// $htag_sizes             = 3, 2.25, 1.5, 1.313, 1.225, 1
// $htag_vmargins          = 0.563, 0.625, 1.313, 1.313*/*/
