// Base Vars
$phi                    = 1.618
$base__font-size        = 16
$px                     = (1 / $base__font-size) * 1rem
$wrapper-width          = 1200px

// Color Vars
$dark   = #040404
$white  = #fff
$black  = #000
$red    = #ff1933
$gray-1 = #c3c2c3
$gray-2 = #3c3c3c
$gray-3 = #464646
$gray-4 = #d8d8d8

$color__background-body = $white

// Font Vars
$font__sans-stack       = "Arial", sans-serif;
$font__min              = 16*$px
$font__max              = 18*$px

// Paragraph Vars
$paragraph__color       = $gray-3
$paragraph__family      = $font__sans-stack
$paragraph__lineh       = 1.5
$paragraph__maxw        = 829*$px // Not used

// Body Vars
$body__background-color = $color__background-body
$body__family           = $font__sans-stack
$body__lh               = 1.7
$body__size             = 16*$px
$body__color            = $dark
$body__weight           = 400
$body__maxw             = 415px
$body__minw             = 416px


// Link Vars
$link__color            = $red


// Htag Family
$htag_family            = $font__sans-stack
$htag_color             = $gray-2
$htag_lineheight        = 1.313em
$htag_weight            = 300

