// The resets are in the file reset.styl
html,
body
  height 100%
  width 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

html
  -ms-overflow-x hidden
  overflow-x hidden
  -ms-touch-action: manipulation;
  touch-action: manipulation;

body
  font-size $body__size
  color $body__color
  background-color $body__background-color
  font-family $body__family

img
  max-width 100%
  height auto
  display block

blockquote
  border-left 4px solid $dark-gray
  padding-left 20px


// *
//   outline 1px solid red