// The resets are in the file reset.styl

// *
//   outline 1px solid red

html,
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin 0

html

  -ms-touch-action: manipulation;
  touch-action: manipulation;

body
  font-size $body__size
  color $body__color
  background-color $body__background-color
  font-family $body__family

img
  max-width 100%
  height auto
  display block

blockquote
  border-left 4px solid $dark-gray
  padding-left 20px

input
  border-radius 0

input[type="submit"]
  -webkit-appearance: none; 
  background-color $gray-1
