$header-ratio       = $golden

$line-height-ratio  = $body__lh
$body-font          = $body__family
$body-font-weight   = $body__weight
$body-color         = $body__color 
$header-font        = $htag_family
$header-font-weight = $htag_weight 
$header-color       = $htag_color 
$min-font           = $font__min
$max-font           = $font__max
$min-width          = $body__maxw	
$max-width          = $body__minw	
$vertical-rhythm    = true

p
  font-family $paragraph__family
  color $paragraph__color
  line-height $paragraph__lineh 
  
a
  color $link__color
