/* Utilities File */

._clearfix
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both


._text-center
	text-align center !important

._text-right
  text-align right !important

._text-left
  text-align left !important

._pull-left
	float left !important

._pull-right 
	float right !important

._clearboth
	clear both !important

._mr0
  margin-right 0 !important