/* Utilities File */

.u-clearfix
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both


.u-textCenter
	text-align center !important

.u-title
	border-bottom 1px solid #999

.u-fl
	float left !important


.u-fr 
	float right !important

.u-clearboth
	clear both

.u-mr0
  margin-right 0 !important