doctype
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")


    block title
      title Default Title
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    link(rel="stylesheet", href="assets/css/main.css")


  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->


      header.header._clearfix
        img(src="assets/images/logo.png", alt="", class="logo")
        ul.menu
          li.item
            a(href="#", class="link") Academias
          li.item 
            a(href="#", class="link") Como funciona
          li.item
            a(href="#", class="link") Para sua empresa
          li.item
            a(href="#", class="link") Blog
          

        ul.menu._pull-right
          li.item
            a(href="#", class="link") Cadastro
          li.item
            a(href="#", class="link") Login


      block main


      script(src="//code.jquery.com/jquery-1.11.3.min.js")
      script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js")
      script(src="assets/js/main.js")

      footer.Footer.u-textCenter
        | Footer
