doctype
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")


    block title
      title Default Title
    link(rel="stylesheet", href="assets/css/main.css")


  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->


      header.Header.u-clearfix
        | Header


      block main


      script(src="http://code.jquery.com/jquery-1.11.3.min.js")
      script(src="assets/js/main.js")

      footer.Footer.u-textCenter
        | Footer
